/* RESET */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #cbd5e1, #94a3b8, #64748b);
    /* bluish grey */
    color: #f8fafc;
}

/* HEADER */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* center the text block */
    gap: 30px;
    padding: 20px 40px;
    /* reduced height */
    background: linear-gradient(135deg, #cbd5e1, #94a3b8);
}

/* TEXT CENTER */
.header-text {
    text-align: center;
}


.header-text h1 {
    font-size: 34px;
    margin: 0;
    color: #1e293b;
    /* dark bluish */
}

.header-text p {
    font-size: 16px;
    margin-top: 5px;
    color: #334155;
}


/* PROFILE IMAGE */
/* IMAGE - FORCE LEFT */
.profile-img {
    position: absolute;
    left: 20px;
    /* pushes image to far left */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #1e293b;
}



/* NAVBAR */
nav {
    background: #3a4251;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #e5e7eb;
    margin: 0 18px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #facc15;
}

/* SECTIONS */
section {
    background: #1e293b;
    /* dark bluish grey */
    color: #f8fafc;
    margin: 15px auto;
    padding: 25px;
    max-width: 950px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* HEADINGS */
h2 {
    color: #38bdf8;
    border-bottom: 3px solid #facc15;
    padding-bottom: 6px;
}

h3 {
    color: #c4b5fd;
    margin-bottom: 2px;
}

h4 {
    color: #93c5fd;
}

/* TEXT */
p {
    font-size: 16px;
    line-height: 1.6;
    color: #e5e7eb;
}

/* LISTS */
ul {
    margin-top: 2px;
    padding-left: 20px;
    margin-bottom: 4px;
}

ul li {
    margin-bottom: 4px;
    font-size: 15px;
}

/* PROJECT CARDS */
.project {
    background: #334155;
    color: #f8fafc;
    border-left: 6px solid #38bdf8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
}

.project:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* PROJECT IMAGE */
.project-img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

/* AUTOMATION SECTION */
#automation {
    max-width: 950px;
    margin: 20px auto;
}

/* CONTACT */
#contact {
    text-align: center;
}

#contact a {
    color: #7dd3fc;
    font-weight: bold;
    text-decoration: none;
}

#contact a:hover {
    color: #facc15;
    text-decoration: underline;
}

/* FOOTER */
footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-img {
        margin-top: 15px;
    }
}